<% if @product.has_variants? %>
<div id="product-variants">
	<% @product.grouped_option_values.each do |type, values| %>
	<h4 class="variant-option-type"><%= type.presentation %></h4>

	<div class="" data-toggle="buttons-radio">
		<% has_checked = false
		values.sort_by(&:position).each do |value| %>
		<% unless (variants = @product.variants_for_option_value(value)).empty? %>
		<% variants.each do |v|
		
		checked = !has_checked 
		price = v.price_in(current_currency).display_price
		cup_price = per_cup_price(v.price, value)
		has_checked = true if checked %>
		<div class="variant-options">
			<div class="variant-description">
				<%= value.presentation %>
				<span style="color:#888;font-weight: normal;"><%= cup_price == nil ? "" : number_to_currency(cup_price*100, unit: "&cent;", precision: 0, format: "%n %u") + " per cup" %></span>
			</div>
			<div class="variant-price">
				<%= price %> 
			</div>
			<div class="variant-quantity">
				<%= number_field_tag "variants[#{v.id}]" , 0, :class => 'title', :in => 0..@product.total_on_hand, :min => 0 %>
			</div>
		</div>
		<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<input type="hidden" name="is_private" value="0" />
</div>
<script type="text/javascript">
		$(function() {
	$('button[data-toggle-name]').each(function() {
	var button = $(this);
	var form = button.parents('form').eq(0);
	var name = button.attr('data-toggle-name');
	var hidden = $('#' + name, form);
	button.click(function() {
	hidden.prop("checked", "true"checked");
	});
	});
	});</script>

<% end%>