<table class="index sortable" id='listing_taxonomies' data-hook">
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  <thead>
    <tr data-hook="sweepstake_header">
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @sweepstakes.each do |sweepstake| %>
      <tr id="<%= spree_dom_id sweepstake %>" data-hook="sweepstake_row" class="<%= cycle('odd', 'even')%>">
        <td>
          <span class="handle"></span>
          <%= sweepstake.name %>
        </td>
        <td class="actions">
          <%= link_to_edit sweepstake.id, :no_text => true %>
          <%= link_to_delete sweepstake, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>