<%
 paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
<%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
<h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
<ul id="products" class="thumbnails" data-hook>
	<% products.each do |product| %>
	<% if product.on_display? %>
	<li id="product_<%= product.id %>" class="span3" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
		<div class="thumbnail product-image">
			<% if product.on_promotion? %>
			<span class="on-sale-ribbon">&nbsp;</span>
			<% end %>
			<% if product.new? %>
			<span class="new-ribbon">&nbsp;</span>
			<% end %>
			<%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
			<h5><%= link_to truncate(product.name, :length => 32), product, :class => 'align-center', :itemprop => "name", :title => product.name %></h5>
			<span class="description"><%= truncate(product.description.gsub("<h3>Description</h3>",""), :length => 150).html_safe %></span>
			<% if product.has_variants? %>
			<% end %>
		</div>
	</li>
	<% end %>
	<% end %>
	<% reset_cycle("classes") %>
</ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
<%= paginate paginated_products %>
<% end %>
